<h1>Bienvenido a El Bodeguero</h1>

<h2>Lista de productos</h2>

<ul>
  {{#each products}}
    {{#if status}}
      <h3>Producto {{title}}</h3>
      <p>Descripción: {{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>Stock: {{stock}} unidades</p>
    {{/if}}
  {{/each}}
</ul>